<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Success</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
        crossorigin="anonymous" />
</head>
<body>
<header th:fragment="site-header">
  <a href="index.html" th:href="@{/}"></a>
  <a href="#" th:href="@{/}">Home</a>
  <a href="#" th:href="@{/add_user}">Add User</a>
</header>
<h1>User updated successfully!</h1><br/>
<a href="#" th:href="@{/}">Return to main page.</a>
</body>
</html>